<!DOCTYPE html>

<html>
  <head>
    <title>FCC Projects</title>
  </head>

  <body>
    <h1>Back End Development and API Project(s)</h1>
    <ul>
      <li><a href="/timestamp-microservice">Timestamp Microservice</a></li>
      <li>
        <a href="/request-header-parser-microservice"
          >Request Header Parser Microservice</a
        >
      </li>
      <li>
        <a href="/url-shortener-microservice">URL Shortener Microservice</a>
      </li>
      <li>
        <a href="/exercise-tracker-microservice"
          >Exercise Tracker Microservice</a
        >
      </li>
      <li>
        <a href="/file-metadata-microservice">File Metadata Microservice</a>
      </li>
    </ul>
  </body>
</html>
